RewriteEngine On    			# Turn on the rewriting engine
#RewriteCond %{HTTPS} off 		# Will make your HTTP requests posted as HTTPS(provided you have SSL certficate activated for the domain)
RewriteRule ^([a-z]+)\//?$ $1.php [NC]